@import 'normalize.css';
@import 'model';

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  &.is-wider {
    width: 1600px;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui,Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  background-color: #DDD;
}

main {
  background: #fff;
}