.model-details-container {
  color: #002d5a;
  font-size: 18px;
  .model-title {
    font-size: 24px;
    font-weight: bold;
    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: 18px;
      height: 18px;
      background: url('~static/symbol1.svg') center center / contain no-repeat;
    }
  }

  .model-table {
    border-bottom: 1px solid #5a91d7;
    .row {
      display: flex;
      align-items: center;
      gap: 10px 10px;
      padding: 15px 0;
      border-top: 1px solid #5a91d7;
      &:hover {
        background: #ddd;
      }
    }
    .col {
      padding: 0 15px;
    }
    
    @media screen and (max-width: 767px) {
      .row {
        flex-wrap: wrap;
        .col {
          flex-basis: 100%;
        }
      }
    }
  }
}