<template>
  <Model />
</template>

<script lang="ts">
import Vue from 'vue'
import Model from '@/components/pages/products/Model.vue'

export default Vue.extend({
  name: 'ModelPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Model,
  },
})
</script>
