<template>
  <section class="model-details-container">
    <p class="model-title">FEATURE</p>
    <div>JHS-MB slitter / rewinder has same function as the JHS economic type for slitting jobs, also handling general slitting for both film and paper. Provides JHS-M type for standard one side slitting and rewinding for operation convenience.</div>

    <p class="model-title">OPTIONS</p>
    <div>
      <ul>
        <li>Hydraulic picking up unit.</li>
        <li>Edge Guiding system for Plain or Printed material.</li>
        <li>Automatic tension controller.</li>
      </ul>
    </div>

    <p class="model-title">SPECIFICATION</p>
    <div class="model-table">
      <div class="row">
        <div class="col">Unwind Width</div>
        <div class="col">1000mm / 1300mm / 1600mm</div>
      </div>
      <div class="row">
        <div class="col">Unwind Diameter</div>
        <div class="col">700mm or 1000mm with hydraulic picking up unit</div>
      </div>
      <div class="row">
        <div class="col">Rewind Width</div>
        <div class="col">50-1000 / 1300 / 1600mm</div>
      </div>
      <div class="row">
        <div class="col">Rewind Diameter</div>
        <div class="col">600mm</div>
      </div>
      <div class="row">
        <div class="col">I.D. of Core</div>
        <div class="col">3 inch</div>
      </div>
      <div class="row">
        <div class="col">Working Cpeed</div>
        <div class="col">0 - 250 m/min</div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'JHB-T',
}
</script>

<style lang="scss" scoped>
ul {
  padding-left: 16px;
}

// 表格寬度
.col {
  &:nth-of-type(1) {
    flex: 1 0 40%;
    font-weight: bold;
  }
  &:nth-of-type(2) {
    flex: 1 0 60%;
  }
}
</style>