<template>
  <main>
    <div class="container is-wider">
      <article v-for="item in currentCategoryData.models" class="product">
        <nuxt-link :to="`/products/${currentCategoryId}/${item.id}`">
          <header class="title">{{ item.label }}</header>
          <div class="img" :style="{ backgroundImage: `url('${item.thumb}')` }" />
        </nuxt-link>
      </article>
    </div>
  </main>
</template>

<script>
import { categories } from '@/constants/products.ts'

export default {
  name: 'Categories',
  data() {
    return {
      categories,
    }
  },
  computed: {
    currentCategoryId() {
      return this.$route.params.categories
    },
    currentCategoryData() {
      return this.categories?.[this.currentCategoryId] ?? {}
    },
  },
}
</script>

<style lang="scss" scoped>
main {
  padding: 10% 5%;
  background: url('~static/dots-white.svg') 2% 20% / 300px no-repeat, url('~static/dots-blue.svg') right 2% bottom 2% / 300px no-repeat;
  background-color: #e6e6e6;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.product {
  flex: 1;
  @media screen and (min-width: 768px) {
    min-width: 300px;
    flex-basis: 40%;
    max-width: calc(50% - 40px);
  }
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
  &:hover {
    .title {
      color: #2778dc;
    }
    .img {
      background-size: 100%;
      filter: drop-shadow(0 0 20px rgba(#2878dc, 0.2));
    }
  }
}
.title {
  position: relative;
  min-height: 75px;
  color: #002d5a;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 20px;
    border-bottom: 4px solid #2878dc;
  }
}
.img {
  flex: 1;
  background: center center / 90% no-repeat;
  filter: drop-shadow(0 0 0 rgba(#2878dc, 0.2));
  transition: filter .2s, background-size .2s;
  &:before {
    content: '';
    display: block;
    padding-bottom: 56%;
  }
}
</style>
