<template>
  <nav>
    <header>CATEGORY</header>
    <template v-for="group in products">
      <template v-if="categories[group.id]">
        <div class="link link-group">
          <span>{{ group.label }}</span>
        </div>
        <nuxt-link
          v-for="item in categories[group.id].models"
          :to="`/products/${currentCategoryId}/${item.id}`"
          class="link link-model"
        >
          <span>{{ item.label }}</span>
        </nuxt-link>
      </template>
    </template>
  </nav>
</template>

<script>
import { products, categories } from '@/constants/products.ts'

export default {
  name: 'ModelNav',
  data() {
    return {
      products,
      categories,
    }
  },
  computed: {
    currentCategoryId() {
      return this.$route.params.categories
    },
  }
}
</script>

<style lang="scss" scoped>
nav {
  width: 25%;
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(to right, #4682bd, #8cbee1 80%);
  border-radius: 0 40px 0 0;
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: inherit;
  }
}
header {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 20px;
    border-bottom: 3px solid #fff;
  }
}
.link {
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #fff;
}
.link-group {
}
.link-model {
  background: transparent;
  transition: background-color .3s;
  &:before {
    content: '';
    display: inline-flex;
    margin: 0 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
  }
  &.nuxt-link-exact-active,
  &:hover {
    background: #285a8c;
  }
}
</style>
