<template>
  <main>
    <div class="container is-wider">
      <ModelNav />

      <article>
        <header>
          <p class="category">{{ currentProductData.label}}</p>
          <p class="model">Model: {{ currentModel }}</p>
        </header>
        <img v-if="currentModelImage" :src="currentModelImage" />

        <component :is="modelComponent" />
      </article>
    </div>
  </main>
</template>

<script>
import { products, categories } from '@/constants/products.ts'
import ModelNav from './ModelNav'

export default {
  name: 'Model',
  layout: 'front',
  components: {
    ModelNav,
  },
  computed: {
    modelComponent() {
      const { categories, model } = this.$route.params
      return () =>
        import(/* webpackMode: "lazy" */ `@/components/models/${categories}/${model}.vue`)
    },
    currentCategoryId() {
      return this.$route.params.categories
    },
    currentProductData() {
      return products.find(item => item.id === this.currentCategoryId)
    },
    currentCategoryData() {
      return categories[this.currentCategoryId]
    },
    currentModel() {
      return this.$route.params.model
    },
    currentModelData() {
      return this.currentCategoryData.models.find(item => item.id === this.$route.params.model)
    },
    currentModelImage() {
      return this.currentModelData.image
    }
  },
}
</script>

<style lang="scss" scoped>
main {
  padding: 10% 5%;
  background: url('~static/dots-white.svg') 2% 20% / 300px no-repeat, url('~static/dots-blue.svg') right 2% bottom 2% / 300px no-repeat;
  background-color: #e6e6e6;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px 40px;
}

article {
  flex: 1;
  .category {
    margin: 0;
    color: #002d5a;
    font-size: 36px;
    font-weight: bold;
  }
  .model {
    margin: 6px 0 40px;
    color: #2878dc;
    font-size: 20px;
  }
  img {
    margin-bottom: 40px;
    max-width: 100%;
  }
}
</style>
