<template>
  <main>
    <div class="container is-wider">
      <article v-for="(item, index) in products" class="product">
        <nuxt-link :to="item.link" @mouseenter.native="() => {handleMouseEnter(index)}" @mouseleave.native="handleMouseLeave">
          <header class="title">{{ item.label }}</header>
          <div class="img-wrapper">
            <MoreArrow :customclass="{'is-hover': hoverIndex === index}" />
            <div class="img" :style="{ backgroundImage: `url('${item.image}')` }" />
          </div>
        </nuxt-link>
      </article>
    </div>
  </main>
</template>

<script>
import MoreArrow from '@/components/common/MoreArrow.vue'
import { products } from '@/constants/products.ts'

export default {
  name: 'Products',
  components: {
    MoreArrow
  },
  data() {
    return {
      products,
      hoverIndex: -1
    }
  },
  methods: {
    handleMouseEnter(index) {
      console.warn(index)
      this.hoverIndex = index
    },
    handleMouseLeave() {
      console.warn('NO')
      this.hoverIndex = -1
    }
  }
}
</script>

<style lang="scss" scoped>
main {
  padding: 10% 5%;
  background: url('~static/dots-white.svg') 2% 20% / 300px no-repeat, url('~static/dots-blue.svg') right 2% bottom 2% / 300px no-repeat;
  background-color: #e6e6e6;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 40px;
}
.product {
  flex: 1;
  padding: 3% 3% 3% 0;
  background: linear-gradient(to right, transparent 40%, #bedcf0 40%);
  @media screen and (min-width: 768px) {
    min-width: 300px;
    flex-basis: 40%;
    &:nth-of-type(4n + 2),
    &:nth-of-type(4n + 3) {
      background: linear-gradient(to right, transparent 40%, #8bafd7 40%);
    }
  }
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
    &:nth-of-type(2n) {
      background: linear-gradient(to right, transparent 40%, #8bafd7 40%);
    }
  }
  > a {
    display: block;
    &:hover {
      .title {
        color: #2778dc;
      }
      .img {
        background-size: 140%;
        transition: background-size .3s;
      }
    }
    &:active {
      .img {
        box-shadow: inset 0 0 20px rgba(#002d5a, .4);
      }
    }
  }
}
.title {
  position: relative;
  min-height: 75px;
  color: #002d5a;
  font-size: 36px;
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    width: 60px;
    height: 20px;
    border-bottom: 4px solid #2878dc;
  }
}
.img-wrapper {
  display: flex;
  align-items: end;
  gap: 5%;
}
.more-arrow {
  margin-bottom: 20px;
}
.img {
  flex: 1;
  background: center center / 110% no-repeat;
  border-radius: 20% / 40% 0 0 0;
  box-shadow: 4px 4px 16px rgba(#000, 0.2);
  transition: background-size .5s;
  &:before {
    content: '';
    display: block;
    padding-bottom: 46%;
  }
}
</style>
