<template>
  <Categories />
</template>

<script lang="ts">
import Vue from 'vue'
import Categories from '@/components/pages/products/Categories.vue'

export default Vue.extend({
  name: 'categoriesPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Categories,
  },
})
</script>
