<template>
  <footer>
    <button class="go-top" @click="scrollToTop" />
    <div class="container">
      <div class="top">
        <Logo />
        <ul class="info-wrapper">
          <li class="location">No. 27, Lane 98, Road 1, Taichung Industrial Park, Taichung City, Taiwan.</li>
          <div>
            <li class="tel">Tel: +886-4-2358-1445</li>
            <li class="fax">Fax: +886-4-2358-1430</li>
            <li class="email">salestw@seed.net.tw</li>
          </div>
        </ul>
      </div>
      <p class="copyright">Copyright © 2022 Harmony Converting Equipment Co.  All right reserved.</p>
    </div>
  </footer>
</template>

<script>
import Logo from '@/components/common/Logo.vue'

export default {
  name: 'Footer',
  components: {
    Logo
  },
  methods: {
    scrollToTop() {
      document.body.scrollIntoView({behavior: 'smooth', block: 'start'});
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
  position: relative;
  padding: 40px 5%;
  color: #fff;
  background: #002d5a;
}
.go-top {
  position: absolute;
  top: -30px;
  right: 5%;
  width: 60px;
  height: 60px;
  background: #5a91d7 url('~static/top.svg') center center / 30px no-repeat;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 10px rgba(#ddd, .3);
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0, 0, 0.3, 2);
  &:hover {
    background-position-y: 40%;
    background-size: 38px;
  }
  &:active {
    box-shadow: 0 0 10px rgba(#000, .3) inset;
  }
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 60px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.info-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px 12px;
  width: fit-content;
  list-style-type: none;
  > div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 12px 30px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  li {
    vertical-align: middle;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    &.location {
      &:before {
        background-image: url('~static/footer/location.svg');
      }
    }
    &.fax {
      &:before {
        background-image: url('~static/footer/fax.svg');
      }
    }
    &.email {
      &:before {
        background-image: url('~static/footer/email.svg');
      }
    }
    &.tel {
      &:before {
        background-image: url('~static/footer/tel.svg');
      }
    }
    &:before {
      content: '';
      display: inline-flex;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      vertical-align: bottom;
      background: center center / contain no-repeat;
    }
  }
}
.location {
  width: fit-content;
  // width: 100%;
}
.copyright {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}
</style>
