<template>
  <nav :class="{ 'is-open': isOpenNav }">
    <button class="btn-toggle" :class="{ 'is-open': isOpenNav }" @click="toggleHandler" v-click-outside="closeNav"></button>
    <ul>
      <li v-for="item in nav">
        <nuxt-link :to="item.link" :class="item.class || ''">
          <span>{{ item.label }}</span>
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import { nav } from '@/constants/nav.ts'

export default {
  name: 'HeaderNav',
  data() {
    return {
      nav,
      isOpenNav: false,
    }
  },
  methods: {
    toggleHandler() {
      this.isOpenNav = !this.isOpenNav
    },
    closeNav() {
      this.isOpenNav = false
    },
  },
}
</script>

<style lang="scss" scoped>
nav {
  height: 100%;
}
.btn-toggle {
  position: relative;
  top: 50px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 1px #86afd2;
  border: 0;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  &:active {
    box-shadow: 0 0 0 1px #86afd2, 0 0 10px rgba(#000, .6) inset;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 1px;
    background: #86afd2;
    transition: transform .2s;
  }
  &.is-open {
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &:not(.is-open) {
    &:before {
      transform: translateY(-6px);
    }
    &:after {
      transform: translateY(6px);
    }
  }
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  width: 120px;
}
a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  &.nuxt-link-active:not(.home),
  &.nuxt-link-exact-active,
  &:hover {
    font-weight: bold;
    background: linear-gradient(to top, #054b82 5%, #195fc8 30%, #5a91d7 85%);
  }
}

// 文字下的橫線
@media screen and (min-width: 768px) {
  li {
    a {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 45px;
        left: 35%;
        right: 35%;
        height: 3px;
        background: #fff;
        opacity: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: opacity 0.3s, transform 0.3s;
        border-radius: 2px;
      }
      &.nuxt-link-active:not(.home),
      &.nuxt-link-exact-active,
      &:hover {
        &:after {
          opacity: 0.8;
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  nav {
    flex: 1;
  }
  li {
    width: 20%;
  }
}

// 僅橫向選單
@media screen and (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
}

// 僅直向選單
@media screen and (max-width: 767px) {
  @keyframes goright {
    from { transform: translateX(-15%); }
    to { transform: translateX(0); }
  }
  nav {
    text-align: right;
    &:not(.is-open) {
      ul {
        display: none;
      }
    }
  }
  ul {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    background: linear-gradient(to right, #4682bd, #8cbee1 80%);
    @keyframes fadein {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    animation: fadein .2s forwards;
  }
  li {
    width: 100%;
    border-bottom: 1px solid #fff;
    animation: goright .4s forwards;
    @for $i from 1 to 6 {
      &:nth-of-type(#{$i}) {
        animation-duration: #{$i * .2}s;
      }
    }
  }
  a {
    padding: 10px 0;
    &.nuxt-link-active:not(.home),
    &.nuxt-link-exact-active,
    &:hover {
      font-weight: bold;
      background: #285a8c;
    }
  }
}
</style>
