<template>
  <div class="breadcrumbs-wrapper" v-if="!isHome">
    <div class="container">
      <template v-for="(item, index) in transCrumbs">
        <span v-if="index > 0" class="step">></span>
        <nuxt-link :to="item.link">{{ (item.label).toUpperCase() }}</nuxt-link>
      </template>
    </div>
  </div>
</template>

<script>
import { products, categories } from '@/constants/products.ts'

export default {
  name: 'HeaderBreadcrumbs',
  computed: {
    isHome() {
      return this.$route.name === 'index'
    },
    // crumbs() {
    //   const fullPath = this.$route.fullPath
    //   const params = fullPath.substring(1).split('/')
    //   const crumbs = []

    //   let path = ''

    //   params.forEach((param, index) => {
    //     path = `${path}/${param}`
    //     const match = this.$router.match(path)

    //     if (match.name !== null) {
    //       crumbs.push(match)
    //     }
    //   })

    //   return crumbs
    // },
    transCrumbs() {
      console.warn(this.$route)
      const { name, params } = this.$route
      const keys = name.split('-')
      const result = keys.map((item, index) => {
        let label = item
        let link = `/${item}`
        if (params?.[label]) {
          if (label === 'categories') {
            const target = products.find(p => p.id === params.categories) || {}
            label = target.label || ''
            link = target.link || ''
          }
          else if (label === 'model') {
            const targetParent = products.find(p => p.id === params.categories) || {}
            const target = categories?.[targetParent.id]?.models?.find(m => m.id === params.model)
            label = target.label || ''
            link = `/products/${targetParent.id}/${target.id}`
          }
        }
        return { label, link }
      })
      return [{ label: 'home', link: '/' }, ...result]
    }
  },
}
</script>

<style lang="scss" scoped>
.breadcrumbs-wrapper {
  margin: 0;
  padding: 5px 0;
  line-height: 2;
  text-align: center;
  color: #bedcf0;
  background: #2878dc;
}
.step {
  margin: 0 10px;
}
a {
  color: #bedcf0;
  transition: color .2s;
  &:hover {
    color: #002d5a;
  }
}
</style>
