<template>
  <header>
    <div class="top-wrapper">
      <div class="container is-wider">
        <nuxt-link to="/">
          <Logo />
        </nuxt-link>
        <HeaderNav />
      </div>
    </div>
    <HeaderBanner />
    <HeaderBreadcrumbs />
  </header>
</template>

<script>
import HeaderBanner from '@/components/common/HeaderBanner.vue'
import HeaderBreadcrumbs from '@/components/common/HeaderBreadcrumbs.vue'
import HeaderNav from '@/components/common/HeaderNav.vue'
import Logo from '@/components/common/Logo.vue'

export default {
  name: 'Header',
  components: {
    HeaderBanner,
    HeaderBreadcrumbs,
    HeaderNav,
    Logo,
  },
}
</script>

<style lang="scss" scoped>
header {
  background: #002d5a;
}
.top-wrapper {
  position: relative;
  .container {
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
  }
}
</style>
