<template>
  <div class="banner-wrpper" :class="{ 'is-home': isHome }">
    <div class="banner" :style="bannerStyles">
      <div v-if="isHome" class="home-slogan">
        <p class="top"><span>Your Best Source for</span><span /></p>
        <p class="bottom">Dependable Converting Equipment</p>
      </div>
      <p v-else class="slogan">{{ sloganText }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderBanner',
  computed: {
    isHome() {
      return this.$route.name === 'index'
    },
    bannerStyles() {
      let name = this.$route.name.split(/-/g)[0]
      if (this.isHome) {
        name = 'home'
      }
      return { backgroundImage: `url('banner/${name}.png')` }
    },
    sloganText() {
      switch (this.$route.name) {
        case 'company':
          return 'COMPANY'
        case 'products':
          return 'PRODUCTS'
        case 'news':
          return 'NEWS'
        case 'contacts':
          return 'CONTACTS'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.banner-wrpper {
  padding-left: 2%;
  height: 500px;
  &.is-home {
    height: 800px;
    .banner {
      padding-left: 7%;
      justify-content: start;
    }
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.96%; // 外層left推5%，內層要回推相等值，為了讓內層slogan置中
  height: 100%;
  border-radius: 120px 0 0 0;
  background: center center / cover;
}
.slogan {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 0.4em rgba(#000, 0.6);
  letter-spacing: 0.06em;
}
.home-slogan {
  p {
    margin: 0;
  }
  .top {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    span {
      &:nth-child(1) {
        padding-right: 10px;
      }
      &:nth-child(2) {
        flex: 1;
        height: 0;
        border-bottom: 1px solid #333;
      }
    }
  }
  .bottom {
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, #b31848, #be01b1, #1a08f5, #219400, #d48e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
</style>
