<template>
  <div class="logo">
    <div class="logo-img" :style="{ width: `${width}px` }" />
    <div v-if="isText" class="logo-text">
      <div class="company">HARMONY</div>
      <div class="details">CONVERTING EQUIPMENT CO.</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    isText: {
      type: Boolean,
      default: true,
    },
    width: {
      type: Number,
      default: 80
    }
  },
}
</script>

<style lang="scss" scoped>
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  background: url('~static/logo.png') center center / contain no-repeat;
  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.logo-text {
  margin-left: 10px;
  background: -webkit-linear-gradient(
    180deg,
    #dfc068,
    #e5cb7c,
    #eedc9a,
    #f6eab2,
    #fbf4c3,
    #fef9cd,
    #fffbd0,
    #deb74f,
    #e2bc55,
    #efcb65,
    #fddc78,
    #e3bc59,
    #cda13f,
    #c0912f,
    #bb8b29,
    #fff4cc,
    #fcefc3,
    #f4e2ab,
    #e6cd83,
    #d3b04c,
    #bc8b07
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px transparent;
}
.company {
  font-size: 34px;
  font-weight: bold;
}
.details {
  font-size: 12px;
}
</style>
