<template>
  <div class="more-arrow" :class="customclass" :style="{ width: `${width}px`, height: `${height || width / 2}px` }">
    <span class="text">{{text}}</span>
    <div class="arrow" :style="{ height: `${height || width / 2}px` }" />
  </div>
</template>

<script>
export default {
  name: 'MoreArrow',
  props: {
    width: {
      type: Number,
      default: 100
    },
    height: {
      type: Number
    },
    text: {
      type: String,
      default: 'MORE'
    },
    customclass: {
      type: Object,
      default: {}
    }
  },
}
</script>

<style lang="scss" scoped>
.more-arrow {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 25%;
    left: 25%;
    padding-bottom: 50%;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #86afd2;
    transition: background .2s;
  }
  &.is-hover,
  &:hover {
    &:before {
      background: #cde6fa;
      box-shadow: inset -4px -4px 14px rgba(#1289eb, .3);

    }
    .text {
      opacity: 1;
    }
    .arrow {
      transform: translateX(0);
    }
  }
  &:active {
    &:before {
      box-shadow: inset 4px 4px 14px rgba(#999, .3);
    }
  }
}
.text {
  flex: 1 0 50%;
  color: #86afd2;
  opacity: 0;
  transition: opacity 0.2s;
}
.arrow {
  flex: 1 0 50%;
  height: 100%;
  background: url('~static/arrow.svg') center 45% / 60% no-repeat;
  transform: translateX(-50%);
  transition: transform 0.2s;
}
</style>
