<template>
  <article class="about">
    <div class="container">
      <header>
        <p class="title">
          ABOUT
          <br />
          HARMONY
        </p>
        <p class="info">
          HARMONY specializes in the design and planning of a wide variety of converting equipment. From single machines to whole plant equipment, Harmony machines provide solutions for your converting problems.
        </p>
        <div class="more-wrapper">
          <nuxt-link to="/company">
            <MoreArrow />
          </nuxt-link>
        </div>
      </header>
      <aside>
        <div class="img-wrapper img-wrapper-1">
          <div class="row">
            <div class="img img-1"></div>
            <div class="img img-2">
              <p class="img-text">Quality Priority</p>
            </div>
          </div>
          <div class="row">
            <div class="img img-3"></div>
            <div class="img img-4">
              <p class="img-text">High-Integrity</p>
            </div>
          </div>
        </div>
        <div class="img-wrapper img-wrapper-2">
          <div class="img img-5"></div>
          <div class="img img-6">
            <p class="img-text">Keep Innovation</p>
          </div>
        </div>
      </aside>
    </div>
  </article>
</template>

<script>
import MoreArrow from '~/components/common/MoreArrow.vue';
export default {
    name: "About",
    components: { MoreArrow }
}
</script>

<style lang="scss" scoped>
.about {
  padding: 40px 5%;
  background: linear-gradient(to right, transparent 33%, #bedcf0 33%);

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px 40px;
  }
  header {
    flex: 1;
    min-width: 260px;
    .title {
      padding-bottom: 20px;
      color: #5a91d7;
      font-size: 34px;
      font-weight: bold;
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 20px;
        border-bottom: 5px solid #5a91d7;
      }
    }
    .info {
      font-size: 20px;
    }
    .more-wrapper {
      display: inline-flex;
    }
  }
  aside {
    flex: 4;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    &-1 {
      .img {
        flex: 1;
        min-width: 120px;
        &:before {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }
    }
    &-2 {
      margin-top: 20px;
      .img {
        flex: 1;
        min-width: 260px;
        &:before {
          content: '';
          display: block;
          padding-bottom: 47%;
        }
      }
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    flex: 1;
  }
  .img {
    position: relative;
    transition: background-size 8s;
    &-1,
    &-3,
    &-5 {
      &:hover {
        background-size: 120%;
      }
    }
    &-1 {
      background: url('~static/company/1.png') center center / 100% no-repeat;
      border-radius: 0 0 0 35%;
    }
    &-2 {
      background: url('~static/company/quality_priority_white.svg') center 30% / 45% no-repeat, url('~static/line.png');
      background-color: #002d5a;
    }
    &-3 {
      background: url('~static/company/3.png') center center / 100% no-repeat;
      border-radius: 0 35% 0 0;
    }
    &-4 {
      background: url('~static/company/high_integrity_white.svg') center 30% / 45% no-repeat, url('~static/line.png');
      background-color: #002d5a;
    }
    &-5 {
      background: url('~static/company/5.png') center center / 100% no-repeat;
      border-radius: 0 30px 0 0;
    }
    &-6 {
      background: url('~static/company/keep_innovation_white.svg') center 30% / 20% no-repeat, url('~static/line.png');
      background-color: #002d5a;
      border-radius: 0 0 0 30px;
    }
  }
  .img-text {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
    color: #c8c8c8;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

    @media screen and (max-width: 1024px) and (min-width: 610px) {
      font-size: 16px;
    }
  }
}
</style>
