<template>
  <main>
    <About />
    <Team />
  </main>
</template>

<script>
import About from './About'
import Team from './Team'

export default {
  name: 'Home',
  components: {
    About,
    Team,
  },
}
</script>

<style lang="scss" scoped>
main {
  background: #e6e6e6;
}
::v-deep {
  .container {
    width: 1550px;
  }
}
</style>
