<template>
  <article class="team">
    <div class="bg" />
    <div class="container">
      <section class="info">
        <header>PROFESSIONAL TEAM</header>
        <p>
          HARMONY has an experienced professional team that can tailor high-quality molds according to customer needs, provide customers with a full range of trust, and meet customer needs with the best efficiency.
        </p>
        <div class="more-wrapper">
          <nuxt-link to="/company">
            <MoreArrow />
          </nuxt-link>
        </div>
      </section>
    </div>
  </article>
</template>

<script>
import MoreArrow from '~/components/common/MoreArrow.vue';

export default {
    name: "Team",
    components: { MoreArrow }
}
</script>

<style lang="scss" scoped>
.team {
  position: relative;
  padding: 80px 5%;
  // height: 400px;
  background: url('~static/dots-white.svg') right 2% top 10% / 300px no-repeat;
}
.bg {
  position: absolute;
  top: 80px;
  right: 33%;
  bottom: 80px;
  left: 0;
  background: url('~static/home/team.png') left center / cover no-repeat;
}
.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
}
.info {
  margin: 40px 0 120px;
  padding: 5% 9%;
  box-sizing: border-box;
  max-width: 750px;
  color: #fff;
  text-align: center;
  background: #5089d1 url('~static/line.png');
  border-radius: 0 60px 0 0;
  header {
    font-size: 30px;
    font-weight: bold;
    &:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 20px;
      border-bottom: 5px solid #fff;
    }
  }
  p {
    margin: 50px 0 20px;
    font-size: 18px;
  }
}
.more-wrapper {
  display: inline-flex;
}
</style>
