<template>
  <Products />
</template>

<script lang="ts">
import Vue from 'vue'
import Products from '@/components/pages/products/Products.vue'

export default Vue.extend({
  name: 'productsPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Products,
  },
})
</script>
