<template>
  <main>
    <div class="container">
      <Logo :isText="false" :width="140" />
      <p class="title">HARMONY CONVERTING EQUIPMENT CO.</p>
      <p class="text">
        HARMONY specializes in the design and planning of a wide variety of converting equipment. From single machines to whole plant equipment, Harmony machines provide solutions for your converting problems.
      </p>
      <div class="img-wrapper img-1">
        <div class="img-row">
          <div class="img img-1-1" />
          <div class="img img-1-2">
            <p class="img-text">Quality Priority</p>
          </div>
        </div>
        <div class="img-row">
          <div class="img img-1-3" />
          <div class="img img-1-4">
            <p class="img-text">High-Integrity</p>
          </div>
        </div>
      </div>
      <p class="text">
        Since the company was established, we have been finding more efficient and cost effective ways to improve converting technology. At Harmony, we believe the service and technology support is just as important as the outstanding performance our machinery delivers. Therefore, we provide comprehensive technical services before and after sales, all backed by our experienced staff.
      </p>
      <div class="img-wrapper img-2">
        <div class="img img-2-1" />
        <div class="img img-2-2">
          <p class="img-text">Keep Innovation</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Logo from '@/components/common/Logo.vue'

export default {
  name: 'Compony',
  components: {
    Logo,
  },
}
</script>

<style lang="scss" scoped>
main {
  padding: 10% 5%;
  text-align: center;
  background: url('~static/dots-white.svg') right 2% bottom 2% / 300px no-repeat, linear-gradient(to bottom, #e6e6e6 85%, #8cb0cc 100%);
}
::v-deep .logo {
  justify-content: center;
}
.title {
  color: #002d5a;
  font-size: 40px;
  font-weight: bold;
}
.text {
  margin: 0 auto;
  max-width: 900px;
  font-size: 20px;
}
.img-wrapper {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.img-row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.img {
  position: relative;
  flex: 1;
  background: #002d5a center center no-repeat;
  &:before {
    content: '';
    display: block;
  }
  &-1 {
    .img {
      min-width: 140px;
      transition: background-size 8s;
      &:before {
        padding-bottom: 100%;
      }
    }
    &-1,
    &-3{
      &:hover {
        background-size: 120%;
      }
    }
    &-1 {
      background: url('~static/company/1.png') center center / 100% no-repeat;
    }
    &-2 {
      background-size: 45%;
      background-position-y: 30%;
      background-image: url('~static/company/quality_priority.svg');
    }
    &-3 {
      background: url('~static/company/3.png') center center / 100% no-repeat;
    }
    &-4 {
      background-size: 45%;
      background-position-y: 30%;
      background-image: url('~static/company/high_integrity.svg');
    }
  }
  &-2 {
    .img {
      min-width: 300px;
      transition: background-size 8s;
      &:before {
        padding-bottom: 47%;
      }
    }
    &-1 {
      &:hover {
        background-size: 120%;
      }
    }
    &-1 {
      background: url('~static/company/5.png') center center / 105% no-repeat;
    }
    &-2 {
      background-size: 20%;
      background-position-y: 30%;
      background-image: url('~static/company/keep_innovation.svg');
    }
  }
}
.img-text {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  text-align: center;
  color: #dfc068;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}
</style>
