<template>
  <main>
    <div class="container">
      <header>Inquiries welcome! We will answer your questions as soon as possible.</header>
      <form>
        <label>
          <span>NAME:</span>
          <input type="text" />
        </label>
        <label>
          <span>TEL:</span>
          <input type="text" />
        </label>
        <label>
          <span>E-MAIL:</span>
          <input type="text" />
        </label>
        <label>
          <span>COMPANY:</span>
          <input type="text" />
        </label>
        <label>
          <span>CONTACT:</span>
          <textarea></textarea>
        </label>
        <div class="arrow-wrapper">
          <MoreArrow text="SUBMIT" :width="120" @onclick="() => {}" />
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import MoreArrow from '@/components/common/MoreArrow.vue'
import { news } from '@/constants/news';

export default {
  name: 'Contacts',
  components: {
    MoreArrow
  },
  data() {
    return {
      news
    }
  }
}
</script>

<style lang="scss" scoped>

main {
  padding: 10% 5%;
  background: url('~static/dots-white.svg') 2% 20% / 300px no-repeat, url('~static/dots-blue.svg') right 2% bottom 2% / 300px no-repeat;
  background-color: #e6e6e6;
}
header {
  padding-left: 40px;
  color: #002d5a;
  font-size: 44px;
  font-weight: bold;
  background: url('~static/symbol1.svg') 0 11px / 30px no-repeat;
}
form {

}
label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin: 10px 0;
  padding-top: 10px;
  color: #002d5a;
  background: #fff;
  &:after {
    content: '';
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #4582b4, #8cbee1);
  }
  span {
    padding-left: 10px;
    color: #4582b4;
  }
  input {
    padding-right: 10px;
    flex: 1;
    border: 0;
    outline: 0;
  }
  textarea {
    flex: 1;
    min-height: 140px;
    border: 0;
    outline: 0;
  }
}
.arrow-wrapper {
  display: flex;
  justify-content: right;
}
</style>
