<template>
  <Compony />
</template>

<script lang="ts">
import Vue from 'vue'
import Compony from '@/components/pages/compony/Compony.vue'

export default Vue.extend({
  name: 'componyPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Compony,
  },
})
</script>
