<template>
  <Contacts />
</template>

<script lang="ts">
import Vue from 'vue'
import Contacts from '@/components/pages/contacts/Contacts.vue'

export default Vue.extend({
  name: 'contactsPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Contacts,
  },
})
</script>
