<template>
  <Home />
</template>

<script lang="ts">
import Vue from 'vue'
import Home from '@/components/pages/home/Home.vue'

export default Vue.extend({
  name: 'IndexPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    Home,
  },
})
</script>
