<template>
  <News />
</template>

<script lang="ts">
import Vue from 'vue'
import News from '@/components/pages/news/News.vue'

export default Vue.extend({
  name: 'newsPage',
  layout: 'front',
  // scrollToTop: false,
  components: {
    News,
  },
})
</script>
