<template>
  <main>
    <div class="container is-wider">
      <article v-for="item in news">
        <header>
          {{item.label}}
        </header>
        <section>
          <div class="img" :style="{ backgroundImage: `url('${item.image}')` }" />
          <div class="info" v-html="item.info"></div>
        </section>
      </article>
    </div>
  </main>
</template>

<script>
import { news } from '@/constants/news';
export default {
  name: 'News',
  data() {
    return {
      news
    }
  }
}
</script>

<style lang="scss" scoped>
@mixin news-style-1() {
  section {
    color: #002d5a;
    background: #e3f1fa url('~static/line.png');
  }
  .img {
    background-color: #002d5a;
  }
  .info {
    background: url('~static/symbol1.svg') 0 4px / 18px no-repeat;
  }
}
@mixin news-style-2() {
  section {
    color: #fff;
    background: url('~static/line.png'), linear-gradient(to right, #002d5a 0%, #8cbee1 100%);
  }
  .img {
    background-color: #bedcf0;
  }
  .info {
    background: url('~static/symbol2.svg') 0 4px / 18px no-repeat;
  }
}

main {
  padding: 10% 5%;
  background: url('~static/dots-white.svg') 2% 20% / 300px no-repeat, url('~static/dots-blue.svg') right 2% bottom 2% / 300px no-repeat;
  background-color: #e6e6e6;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
}
article {
  margin-bottom: 40px;
  padding-bottom: 40px;
  flex: 1 0 35%;
  border-bottom: 1px solid #2878dc;
  @media screen and (min-width: 768px) {
    &:nth-of-type(4n+1),
    &:nth-of-type(4n) {
      @include news-style-1;
    }
    &:nth-of-type(4n+2),
    &:nth-of-type(4n+3) {
      @include news-style-2;
    }
  }
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
    &:nth-of-type(2n+1) {
      @include news-style-1;
    }
    &:nth-of-type(2n) {
      @include news-style-2;
    }
  }
}
header {
  padding-bottom: 20px;
  min-height: 90px;
  font-size: 34px;
  font-weight: bold;
  color: #002d5a;
  &:after {
    content: '';
    display: block;
    width: 80px;
    height: 20px;
    border-bottom: 4px solid #2878dc;
  }
}
section {
  padding: 5% 2% 5% 5%;
  display: flex;
  gap: 20px 20px;
  align-items: flex-start;
  border-radius: 0 5vw 0 0;
}
.img {
  width: 30%;
  background: center center / 80% no-repeat;
  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}
.info {
  flex: 1;
  padding-left: 30px;
  font-size: 20px;
}
</style>
